div a {
  border-color:#5F2875;
  border-style:dashed;
  width:50px;
  padding:20px;
  margin:20px;
}

ol > li {
  background-color:#DDB8FF;
  color:#F8EDF0;
}
li + li {
  background-color:#A42F4F;
  color:#F8EDF0;
}
h1 {
  background-color:#FEF695;
  color:#284A75;
}
