div a {
  border-color:#5F2875;
  border-style:dashed;
  width:50px;
  padding:10px;
  margin:15px;
}

ol > li, li + li {
  background-color:#F7CE5F;
  color:#DED2BC;
}
h1, h2 {
  background-color:#FEF695;
  color:#284A75;
  align: center;
}
